/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.flexslider{
    background:none;
    border:none;
    box-shadow:none;
    margin:0px;
}

.flex-direction-nav a{height:50px;}