/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.easy-slider .card{padding: 0;max-width: initial;box-shadow: none;}
.easy-slider input[type=checkbox]:checked::before {content: none;}
.easy-slider #your-profile label+a, label{vertical-align: initial;}
.easy-slider input[type=checkbox]{margin-top: .60em;background-repeat: no-repeat;transition:background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}

.btn.popover-dismiss{text-decoration: none;color: #212529;}
.btn.popover-dismiss:focus{box-shadow: none;}

#wpwrap{background: #f1f1f1;}
.content-slide img{max-height: 80px;}