/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.easy-slider .card{
    padding: 0;
    max-width: initial;
    box-shadow: none;
}

.easy-slider input[type=checkbox],.easy-slider input[type=radio] {
    border: none;
    border-radius: initial;
    background: none;
    color: initial;
    clear: none;
    cursor: pointer;
    display: initial;
    line-height: 0;
    height: initial;
    margin: 0;
    margin-left: -1.25rem;
    margin-top: .3rem;
    outline: 0;
    padding: 0!important;
    text-align: initial;
    vertical-align: initial;
    width: initial;
    min-width: initial;
    -webkit-appearance: checkbox;
    box-shadow: none;
    transition: initial;
}

.easy-slider input[type=checkbox]:checked::before {content: none;}

.easy-slider #your-profile label+a, label{vertical-align: initial;}

